.container {
  display: flex;
  justify-content: space-between;
}
.background {
  display: flex;
  align-items: center;
  background-color: rgb(21, 56, 86);
  color: white;
  width: 100%;
  padding-inline: 30px;
  position: fixed;
  top: 0;
}
.space {
  width: 5vh;
}
.tabs {
  display: flex;
  justify-content: space-between;
}
.tab_text {
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.tab_text:hover {
  color: rgb(127, 242, 200);
}
.name {
  font-size: 14px;
  font-weight: 900;
  color: white;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 20vh;
}
.space_icons {
  width: 60%;
}
.icon {
  color: rgb(189, 201, 207);
  height: 4vh;
}

.name:hover {
  color: none;
}
